:root{
    --primary-color: #fff;
    --font-color: #000;
}

.dark-theme{
    --primary-color: #181818;
    --font-color: #fff;
}

body, table{
    background-color: var(--primary-color);
    color: var(--font-color) !important;
}


.toggle-container{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #0d6efd;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #0d6efd;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    font-family: 'Geologica', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.nav .items {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    /* border-bottom: solid  2px; */
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.8);
    padding: 15px;
}

.nav .items p {
    font-size: 50px;
}

.nav .items p i {
    font-size: 50px;
}

.nav .items li a {
    /* justify-content: center; */
    /* align-items: center; */
    text-decoration: none;
    color: black;
    transition: 0.5s ease-out;
    border-radius: 3px;
    padding: 10px;
}

.nav .items li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
#stock{
    color: red;
}
#market{
    color: green;
}
#login,#register{
    color: blue;
}
.main .main1{
    /* background-color: green; */
    text-align: center;
    padding: 20px;
    height: 91vh;
}

#head{
    margin-bottom: 50px;
}

.main .main1 .news{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.main .main1 .left{
    height: 80px;
    width: 40%;
    border: 3px solid yellow;
    border-radius: 15px;
    padding: 5px;
}
.main .main1 .right{
    height: 80px;
    width: 40%;
    border: 3px solid yellow;
    border-radius: 15px;
    padding: 5px;
}
.slideshow-container {
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mySlides img{
    height: 390px;
    width: 97vw;
}

/* Making of Four Boxes */
.boxes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    width: 12%;
    height: 150px;
}
.twoBoxes{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.twoBoxes .left{
    border: solid black 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 45%;
}
.twoBoxes .left .headingContent{
    display: flex;
    align-items: center;
    background-color: yellow;
    justify-content: center;
}
i{
    font-size: 25px;
}
.table{
    margin-top: 12px;
}
.table tr th,td{
    padding: 10px;
    text-align: center;
}

.twoImages{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: cadetblue;
}

.twoImages .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgba(0,0,0,0.2) solid 1px;
    padding: 5px;
    width: 100%;
    padding-top: 40px;
}


h1{
    margin-top: 30px;
}

.twoImages .image #button{
    margin: 40px;
    padding: 10px;
    font-size: 20px;
    color: black;
    border: lightgreen solid 1px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}
input:hover{
    background-color: green;
}

